	body{
		background-color: pink;
		text-decoration- white;
		text-style: italics
        contactus background-color; yellow
	}
	body{

		
	margin-left; 20px
	margin-right;25px
	margin-top; 20px
	max-height;25px
	text-align; left
	

		}
nav{
text-align: center;
background: lightgoldenrodyyellow;
padding: 20px;
margin-top:20px;

}
nav a{
	text-decoration: none;
	padding-left: 5px;
	padding-right; 5px;
}
nav{
	text-align: center;
	background: yellow:

}
.logoz{
	text-align: center;

}
.logoz img{
	width:300px;
	height:200px;
}
footer{
	text-align: center;
	background: yellow;
	font-size: 300%;
	 color: : blue;
	 font-weight: 100%
}
body{
background-image:ulr(images/tip.PNG);
background-size: cover;
background-position: center;      	
} 


.links{
	text-decoration: : green;
	font-size: 300%;
	background-color: yellow;
}

.me{
	text-align: center;
}

